@import url("font.css");
@import url("variable.css");
@import url("utilis.css");
*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    flex-direction: column;
    min-height:100vh;
    min-width:100vw ;
    background: var(--tints);
    font-family: "Nanum",monospace;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.heading{
    color: var(--accent);



}
.heading::after{
    content:"";
    background-image: url(/image/icon-hvNRE3Ne.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    filter: drop-shadow(5px 5px 10px black);
}
/* input,button{
    font-family: inherit;
} */
h1{
    font-size: 70px;
    margin-top:-70px;
}
h1::after{
    content: "";
    background-image: url("/icon-hvNRE3Ne.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 130px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    /* height: 100px;
    width: 100px; */
}
.aside{
    display: flex;
    gap: 1rem;
}
input-text{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    outline: 1px dashed black;
    border: none;
}
btn-reverse{
    padding: 1rem;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
}
.theme{
position: absolute;
bottom: 1rem;
right: 1rem;
}
p{
    font-size: 30px;
    margin-top: 30px;

}
div{
    margin-top: 40px;
}
input{
    height: 50px;
    width: 320px;
    border-radius: 30px;
    padding-left:30px;
    font-size: 20px;
    margin-right: 100px;
}

button{
    height: 50px; 
    border-radius: 50%;
    width: 50px;
}
.theme{
    position: absolute;
     bottom: 32px;
     right: 32px;
}

.chip{
    color:var(--accent);
    visibility: hidden;
}

.rev{
    color:aquamarine;
    font-weight: ;
}
.description{
    font-size: 0.8rem;
}


























































































